---
import Layout from "./Layout.astro";
import { getImage } from "astro:assets";
import ParallaxImageHeader from "../components/ParallaxImageHeader.svelte";
import { postImageImport } from "../helpers/images.mjs";
import Tags from "../components/Tags.astro";
import LatestPostsVertical from "../components/LatestPostsVertical.astro";

const { frontmatter } = Astro.props;

const showProfileSubtitle = true; // TODO: Expose this as config option
let optimizedDesktopCoverImage: any = null;
let optimizedMobileCoverImage: any = null;

if (frontmatter?.cover) {
  const { default: dynamicImg } = await postImageImport(frontmatter.cover);

  optimizedDesktopCoverImage = frontmatter?.cover
    ? await getImage({ src: dynamicImg, width: 1920, height: 1080 })
    : "";

  optimizedMobileCoverImage = frontmatter?.cover
    ? await getImage({ src: dynamicImg, width: 720, height: 480 })
    : "";
}

const dateStr = new Date(frontmatter.publish_date).toLocaleString("en-US", {
  month: "short",
  day: "numeric",
  year: "numeric",
});
---

<Layout title={frontmatter.title}>
  <main class="bg-white pb-16 antialiased dark:bg-gray-900 lg:pb-40">
    <header
      class=`relative h-[460px] w-full bg-cover bg-center bg-no-repeat bg-blend-darken xl:h-[400px] !bg-white`
      style=`background-image: url('${optimizedDesktopCoverImage.src}')`
      transition:name={`cover-image-${frontmatter.id}`}
    >
      <div
        class="absolute left-0 top-0 h-full w-full bg-black bg-opacity-50 p-4"
      >
      </div>
      <div
        class="absolute left-1/2 top-20 mx-auto w-full max-w-screen-xl -translate-x-1/2 p-4 px-4 xl:top-1/2 xl:-translate-y-1/2 xl:px-0"
      >
        <h1
          class="mb-2 max-w-4xl p-2 text-2xl font-extrabold leading-none text-white sm:text-3xl lg:text-4xl"
        >
          {frontmatter.title}
        </h1>
        <p class="max-w-screen-md p-2 text-lg font-normal text-gray-300">
          {frontmatter.description}
        </p>
      </div>
    </header>

    <div
      class="relative z-50 mx-4 flex max-w-screen-xl justify-around rounded bg-white p-6 dark:bg-gray-800 xl:mx-auto xl:p-9"
    >
      <article
        class="prose prose-sm prose-blue w-full max-w-none dark:prose-invert sm:prose-base lg:prose-lg xl:w-[828px]"
      >
        <div class="flex flex-col justify-between lg:flex-row lg:items-center">
          <div
            class="mb-2 flex items-center space-x-3 text-base text-gray-500 dark:text-gray-400 lg:mb-0"
          >
            <span
              >By <a
                href="#"
                class="font-semibold text-gray-900 no-underline hover:underline dark:text-white"
                >Deborah Martin</a
              ></span
            >
            <span class="h-2 w-2 rounded-full bg-gray-300 dark:bg-gray-400"
            ></span>
            <span
              ><time
                class="font-normal text-gray-500 dark:text-gray-400"
                pubdate
                class="uppercase"
                datetime="2022-03-08"
                title="August 3rd, 2022"
                >{
                  new Date(frontmatter.publish_date).toLocaleDateString(
                    "en-US",
                    { year: "numeric", month: "long", day: "numeric" },
                  )
                }</time
              ></span
            >
          </div>

          <aside aria-label="Share social media">
            <div class="not-prose">
              <button
                data-tooltip-target="tooltip-facebook"
                class="inline-flex hidden items-center rounded-lg bg-white p-2 text-center text-sm font-medium text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-50 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                type="button"
              >
                <svg
                  class="h-5 w-5 text-gray-500 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 8 19"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <div
                id="tooltip-facebook"
                role="tooltip"
                class="tooltip invisible absolute z-10 inline-block hidden rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700"
              >
                Share on Facebook
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>

              <button
                data-tooltip-target="tooltip-twitter"
                class="inline-flex hidden items-center rounded-lg bg-white p-2 text-center text-sm font-medium text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-50 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                type="button"
              >
                <svg
                  class="h-5 w-5 text-gray-500 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 20 20"
                >
                  <path
                    fill="currentColor"
                    d="M12.186 8.672 18.743.947h-2.927l-5.005 5.9-4.44-5.9H0l7.434 9.876-6.986 8.23h2.927l5.434-6.4 4.82 6.4H20L12.186 8.672Zm-2.267 2.671L8.544 9.515 3.2 2.42h2.2l4.312 5.719 1.375 1.828 5.731 7.613h-2.2l-4.699-6.237Z"
                  ></path>
                </svg>
              </button>
              <div
                id="tooltip-twitter"
                role="tooltip"
                class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700"
              >
                Share on Twitter
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>

              <button
                id="copy-to-clipboard"
                data-tooltip-target="tooltip-link"
                class="inline-flex items-center rounded-lg bg-white p-2 text-center text-sm font-medium text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-50 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                type="button"
              >
                <svg
                  class="h-5 w-5 text-gray-500 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 19 19"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11.013 7.962a3.519 3.519 0 0 0-4.975 0l-3.554 3.554a3.518 3.518 0 0 0 4.975 4.975l.461-.46m-.461-4.515a3.518 3.518 0 0 0 4.975 0l3.553-3.554a3.518 3.518 0 0 0-4.974-4.975L10.3 3.7"
                  ></path>
                </svg>
              </button>
            </div>
          </aside>
        </div>

        <slot />
      </article>

      <aside class="hidden xl:block" aria-labelledby="sidebar-label">
        <div class="sticky top-6 xl:w-[336px]">
          <h3 id="sidebar-label" class="sr-only">Sidebar</h3>
          <div class="mb-8">
            <h4
              class="mb-2 text-sm font-bold uppercase text-gray-900 dark:text-white"
            >
              Newest Book
            </h4>

            <a href="/products/hunnie-bunnys-garden-mystery">
              <img
                src="https://res.cloudinary.com/simple-reads-books/image/upload/w_672,h_672,f_webp,q_auto/Hunnie_Bunnys_Garden_Mystery_Book_Cover"
                class="rounded-md"
              />

              <p class="mb-4 text-sm text-gray-500 dark:text-gray-400">
                Hunnie Bunny’s Garden Mystery is a charming tale that takes
                young readers on an adventure with Hunnie Bunny and her woodland
                friends.
              </p>
            </a>
          </div>
          <div class="mb-12">
            <LatestPostsVertical />
          </div>
        </div>
      </aside>
    </div>
  </main>
</Layout>

<style is:global>
  code {
    color: white !important;
  }
  li code {
    color: white !important;
  }
  blockquote code {
    color: white !important;
  }
</style>

<script>
  document.getElementById("copy-to-clipboard")!.onclick = async function (e) {
    const url = window.location.href;
    await navigator.clipboard.writeText(url);
    alert(`Copied URL to clipboard!`);
  };
</script>
